<!--# 
layout("/layout/default.html",{"menu":["settings","setting_list"],"breadcrumbs":[{"name":"配置列表"}]}){ 
 #-->
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th colspan="8">
				<div class="row">
					<div class="col-md-3 "></div>
					<div class="col-md-2 col-md-offset-7">
						<!--# if(hasPermission('config.add')){ #-->
						<a href="${base}/setting/add" class="btn btn-info btn-sm"><i class="fa fa-plus-circle"></i> 新增配置</a>
						<!--# } #-->
					</div>
				</div>
			</th>
		</tr>
		<tr class="center">
			<th>配置名</th>
			<th>配置值</th>
			<th>操作</th>
		</tr>
	</thead>

	<tbody>
		<!--# for(config in obj.data.config){ #-->
		<tr>
			<td>${config.key!}</td>
			<td>${config.value!}</td>
			<td>
			<!--# if(hasPermission('config.edit')){ #-->
			<a class="btn btn-xs btn-info" href="${base}/setting/edit/?key=${config.key}"> <i class="ace-icon fa fa-pencil bigger-120"></i> 编辑
			</a>
			<!--# } #-->
			<!--# if(hasPermission('config.delete')){ #-->
				<button class="btn btn-xs btn-danger btn-delete" data-url='/setting/delete' data-id='${config.key!}'>
					<i class="ace-icon fa fa-trash-o bigger-120"></i> 删除
				</button></td>
				<!--# } #-->
		</tr>
		<!--# } #-->
	</tbody>
</table>
<!--# } #-->