<!--# 
layout("/layout/default.html",{"menu":["main",""],"breadcrumbs":[{"name":"控制台"}]}){ 
 #-->
<div class="row">
	<div class="col-sm-6">
		<h1>ReadMe</h1>
		<hr>
		<h1>目标</h1>

		<ul class="lead">
			<li>提供开箱即用的企业级开发平台</li>
			<li>提供企业开发中常见的组件和交互示例</li>
			<li>提供高度复用的业务基类</li>
			<li>提供各种超高体验的前端交互组件</li>
			<li>...</li>
		</ul>

		<h1>功能</h1>
		<h2>精确到按钮的权限管理</h2>
		<ul>
			<li>6表标准ACL用户角色权限体系</li>
			<li>多类型用户系统可继承用户进行扩展,同时可复用ACL鉴权体系</li>
			<li>shiro权限控制,可精确到按钮的权限控制</li>
		</ul>

		<h2>轻量化配置管理</h2>
		<ul>
			<li>轻量级的参数配置管理</li>
			<li>配置参数即刻生效</li>
		</ul>

		<h2>完善的日志系统</h2>
		<ul>
			<li>用户登录日志</li>
			<li>核心业务操作日志</li>
		</ul>

		<h2>应用性能监测(APM)</h2>
		<ul>
			<li>基于sigar的应用性能监控</li>
			<li>应用性能监控提供单机控制台和json数据流(便于集中化监控)</li>
			<li>集成druid sql性能监控</li>
			<li>核心业务运行性能监控</li>
		</ul>

		<h2>无限级树状组织架构管理</h2>
		<ul>
			<li>实现无限级的树状组织结构管理功能</li>
			<li>提供树状组织架构选择器</li>
		</ul>

		<h2>高度业务封装</h2>
		<ul>
			<li>基本零代码的业务层</li>
			<li>省略数据访问层</li>
			<li>高灵活度的分页组件</li>
		</ul>

		<h2>清爽易用的前端组件</h2>
		<ul>
			<li>使用bootstrap-ace最新版界面组件</li>
			<li>高度定制化的表单验证组件</li>
		</ul>

		<h2>拒绝硬编码的sql管理</h2>
		<ul>
			<li>文件化的sql管理器</li>
			<li><p>单表使用orm,跨表使用配置化的自定义sql语句</p>

				<ul>
					<li>保证最小化编码</li>
					<li>保证sql的集中化,语义化管理</li>
					<li>保证非单表sql语句的配置化和优化</li>
				</ul></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<h1>2.0变更</h1>
		<hr>
		<ul class="lead">
			<li>一些 BUG 的修复</li>
			<li>增加微信配置入口</li>
			<li>增加微信接入示例(nutz.cn 微信版)</li>
			<li>druid 密码加密</li>
			<li>properties 文件加载字符转义问题修复</li>
			<li><p>sigar 集成支持 watchdog 模式</p>

				<ul>
					<li>watchdog 往 mq 生产者上面写数据</li>
					<li>mq 的消费者消费上报信息并生成告警</li>
				</ul></li>
			<li><p>增加 nop 集成示例</p>

				<ul>
					<li><a href="https://github.com/nutzam/nutzmore/tree/master/nutz-plugins-nop">nop 是什么</a></li>
					<li>show me the code</li>
				</ul></li>
			<li><p>精确到按钮的权限控制</p>

				<ul>
					<li>shiro 插件更新</li>
					<li>自定义 shiro 的验证注解及拦截器</li>
					<li>权限验证使用枚举,消灭硬编码</li>
				</ul></li>
		</ul>

		<h1>运行项目</h1>
		<hr>
		<ul class="lead">
			<li>clone 源码 <code>git clone https://github.com/Kerbores/NUTZ-ONEKEY.git</code></li>
			<li>导入maven项目 <code>mvn eclipse:eclipse</code></li>
			<li>修改数据源 ,修改datasource.properties中的数据源配置<strong>密码采用druid加密,请自行参照druid的加密方式进行修改</strong></li>
			<li>运行项目 ,直接在eclipse中运行项目即可,启动将自动创建数据表和初始化数据</li>
		</ul>

		<h2>部署项目</h2>
		<hr>
		<ul class="lead">
			<li>clone 源码 <code>git clone https://github.com/Kerbores/NUTZ-ONEKEY.git</code></li>
			<li>maven 构建 <code>mvn clean package -Dmaven.test.skip=true</code></li>
			<li>环境感知的配置 ,<strong>数据源密码采用druid加密,请自行参照druid的加密方式进行修改</strong>

				<ul>
					<li>windows 在C:/datasource下创建数据源的properties配置文件</li>
					<li>linux/mac 在 /var/datasource 下创建数据源的properties配置文件</li>
				</ul></li>
			<li>启动项目 将mvn编译产生的war包部署到应用服务器内并启动即可</li>
		</ul>
	</div>
</div>
<!--# } #-->